#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("BOOKS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($produto in $books)
        <div class="col">
            <a class="produto" href="$WebPath.getBOOKS()$produto.getIsbn()">
                <div class="bookCover">
                    <img src="$produto.getMediumCover()" alt="$produto.getTitle()">
                </div>
                $msg.get("BOOKS_CAPTION", $produto.getTitle(), $produto.getAuthor())
            </a>
        </div>
    #end
</div>
#end
